@font-face {
    font-family: 'ubuntu-regular';
    src: URL('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

body{
    font-family: 'ubuntu-regular';
    font-size: 14px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.upper-elements-block{
    margin: 32px;
    display: flex;
    justify-content: space-between;
}

.upper-elements-block.blur{
    margin: 32px;
    display: flex;
    justify-content: space-between;
    filter: blur(2px);
    pointer-events: none;
}

.post-data{
    padding: 4px 32px;
    background-color: #1a237e;
    color: white;
    border: none;
    border-radius: 4px;
}

.search-input{
    padding: 4px 4px; 
}

.search-button{
    padding: 4px 32px;
    background-color: #1a237e;
    color: white;
    border-color: transparent;
    border-radius: 4px;
}

.table-container{
    margin: 32px 0px;
}

.table-container.blur{
    filter: blur(2px);
    pointer-events: none;
}

table {
    /* table-layout: fixed; */
    border-collapse: collapse;
    width: 95%;
    /* max-width: 600px; */
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: block;
    height: 700px;
    overflow-y: scroll;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 200px;

}

th {
    background-color: #1a237e; 
    color: white;
}

tr:nth-child(even) {
    background-color: #bbdefb; 
}

.icon-image{
    height: 20px;
    width: 20px;
}

.bottom-block{
    margin: 32px;
    display: flex;
    justify-content: space-between;
}

.bottom-block.blur{
    filter: blur(2px);
    pointer-events: none;
}

.select-options{
    padding: 4px 32px;
}

.page-display-detial-block{
    display: inline-flex;
    align-items: center;
}

.button-block{
    margin: 0px 16px;
}

.button{
    padding: 4px 8px;
    background-color: #1a237e;
    color: white;
    border: none;
    border-radius: 4px;
}

.button.disable{
    background-color: gray;
}

.error-message-block{
    display: flex;
    justify-content: center;
    margin: 8px 0px;
}

.error-message-block{
    color: red;
}

/* ---------------- pup up post ---------------- */


.fill-details-container{
    display: none;
}

.fill-details-container.active{
    display: block;
    z-index: 15;
    box-shadow: 1px 1px 10px rgb(204, 202, 202);
    background-color: rgb(243 253 255);
    border-radius: 12px;
    height: fit-content;
    width: 60vw;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.fill-details-block{
    padding: 32px;
}


.pop-up-button-block{
    display: flex;
    justify-content: space-around;
}

.close-btn{
    margin: 8px 0px;
    background-color: #1a237e;
    color: white;
    cursor: pointer;
    padding: 8px 0px;
    width: 130px;
    border: none;
    border-radius: 4px;
}

.pop-up-input {
    width: 100%;
    padding: 12px;
    margin: 8px 0px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  
.pop-up-input {
    background-color: #ddd;
    outline: none;
}

.asc-desc{
    height: 20px;
    width: 20px;
}

/* ---------------- ********** ---------------- */

/* form CSS */

/* *{
    margin: 0px;
    padding: 0px;
} */

/* .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.form-block{
    display: none;
}

.form-block.active{
    display: block;
    box-shadow: 1px 1px 10px black;
    border-radius: 12px;
    width: 560px;
    position: fixed;
    top: 32px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.form-block.active + body {
    background-color: black;
}

.form-header{
    margin: 12px;
}

.form-header-text{
    margin: 0px 12px 12px 12px;
}

.submit-form{
    padding: 32px;
    /* width: 550px; */
    /* background-color: tomato; */
}

.form-input-element-block{
    margin: 0px 12px;
    width: 250px;
}

.form-element-block{
    margin: 16px 0px;
    display: flex;
    justify-content: space-around;
}

.form-input{
    margin: 4px 0px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.pop-up-button-block{
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}

.form-button{
    width: 140px;
    padding: 4px 0px;
}

.form-header-block{
    background-color: #1a237e;
    padding: 8px;
    color: white;
}

.form-button{
    padding: 4px 8px;
    background-color: #1a237e;
    color: white;
    border: none;
    border-radius: 4px;
}

/* -------- */